<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:label="Tommy Arena"
        android:theme="@style/Theme.TommyArena"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CalculatorActivity" android:exported="false" />
        <activity android:name=".UnitConverterActivity" android:exported="false" />
        <activity android:name=".StopwatchActivity" android:exported="false" />
        <activity android:name=".QrCodeActivity" android:exported="false" />
        <activity android:name=".NotesActivity" android:exported="false" />
        <activity android:name=".TaskManagerActivity" android:exported="false" />
        <activity android:name=".TextUtilsActivity" android:exported="false" />
        <activity android:name=".ClipboardActivity" android:exported="false" />
        <activity android:name=".CalendarActivity" android:exported="false" />
        <activity android:name=".ReminderActivity" android:exported="false" />
        <receiver android:name=".ReminderReceiver" android:exported="false" />
        <activity android:name=".SystemMonitorActivity" android:exported="false" />
        <activity android:name=".BatteryMonitorActivity" android:exported="false" />
        <activity android:name=".ExpenseTrackerActivity" android:exported="false" />
        <activity android:name=".InventoryActivity" android:exported="false" />
        <activity android:name=".InvoiceActivity" android:exported="false" />
        <activity android:name=".MarkdownActivity" android:exported="false" />
        <activity android:name=".LinkManagerActivity" android:exported="false" />
        <activity android:name=".UrlShortenerActivity" android:exported="false" />
        <activity android:name=".WebsiteCheckerActivity" android:exported="false" />
        <activity android:name=".SpeedTestActivity" android:exported="false" />
        <activity android:name=".EbookLibraryActivity" android:exported="false" />
        <activity android:name=".FinanceManagerActivity" android:exported="false" />
        <activity android:name=".DataAnalyzerActivity" android:exported="false" />
        <activity android:name=".ApiTesterActivity" android:exported="false" />
        <activity android:name=".InstalledAppsActivity" android:exported="false" />
        <activity android:name=".NetworkMonitorActivity" android:exported="false" />
        <activity android:name=".NotificationManagerActivity" android:exported="false" />
        <activity android:name=".FileManagerActivity" android:exported="false" />
        <activity android:name=".BackupManagerActivity" android:exported="false" />
        <activity android:name=".FileEncryptionActivity" android:exported="false" />
        <activity android:name=".FileCompressorActivity" android:exported="false" />
        <activity android:name=".DownloadManagerActivity" android:exported="false" />
        <activity android:name=".StorageCleanerActivity" android:exported="false" />
        <activity android:name=".WebServerActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
